@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

body {
  margin: 0;
  padding: 0;
}

/* globals.css */
.animated-text {
  font-size: 4rem;
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  0% { color: red; }
  25% { color: green; }
  75% { color: blue; }
  100% { color: red; }
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(15,23,42,0.09);
  transition: all 0.3s ease;
}
